.black {
  color: #000000;
}

.c-red {
  color: #db4343;
}

.blue {
  color: #2e91fc;
}

.c-white {
  color: #ffffff;
}

.light-c {
  color: #71748d;
}
/* backgrounds */

.bg-blue {
  background-color: #2e91fc;
  color: #ffffff;
}

.bg-light-grey {
  background-color: #f2f2f2f2;
}

.bg-white {
  background-color: #fff;
}

/* GRADIENT */

.blue-gr {
  background-image: linear-gradient(to right, #008ed4, #45a6d3);
}
.black-gr {
  background-image: linear-gradient(to right, #1b1b1b, #444444);
}
